export default `
{{#if isSearchComplete}}
  {{#if showNoResults}}
    {{> noResults}}
  {{/if}}
  {{#if resultsPresent}}
    <section class="yxt-Results yxt-Results--{{_config.modifier}}{{#if _config.isUniversal}} yxt-Results--universal{{/if}} yxt-Results--{{verticalConfigId}}">
      {{> titleBar}}
      {{> resultsHeader }}
      {{> map}}
      {{> results}}
      {{> viewAll}}
    </section>
  {{/if}}
{{/if}}

{{#*inline "noResults"}}
  {{#if useLegacyNoResults}}
    {{> results/noresults}}
  {{else}}
    <div class="yxt-Results-alternativeVerticals"
          data-component="AlternativeVerticals"></div>
  {{/if}}
{{/inline}}


{{#*inline "titleBar"}}
  {{#if _config.isUniversal}}
    <div class="yxt-Results-titleBar">
      {{#if _config.icon}}
        <div class="yxt-Results-titleIconWrapper">
          {{#if iconIsBuiltIn}}
            {{> icons/builtInIcon iconName=_config.icon }}
          {{else}}
            {{> icons/iconPartial iconUrl=_config.icon }}
          {{/if}}
        </div>
      {{/if}}
      <h2 class="yxt-Results-title">{{_config.title}}</h2>
    </div>
  {{/if}}
{{/inline}}

{{#*inline 'resultsHeader'}}
  {{#unless _config.hideResultsHeader}}
    <div data-component="ResultsHeader"></div>
  {{/unless}}
{{/inline}}

{{#*inline "results"}}
  <div class="yxt-Results-items js-yxt-Results-items{{#if numColumns}} yxt-Results-items--{{numColumns}}{{/if}}">
    {{#each results}}
      <div class="yxt-Card{{#if ../_config.isUniversal}} yxt-Card--universal{{/if}}"
        data-component="Card"
        data-opts='{ "_index": {{@index}} }'>
      </div>
    {{/each}}
    {{#each placeholders}}
      <div class="yxt-Card-placeholder" aria-hidden="true"></div>
    {{/each}}
  </div>
{{/inline}}

{{#*inline "map"}}
  {{#if _config.includeMap}}
    <div class="yxt-Results-map"
          data-component="Map"
          data-prop="map">
    </div>
  {{/if}}
{{/inline}}

{{#*inline "viewAll"}}
  {{#if (and _config.isUniversal _config.viewMore _config.viewMoreLabel verticalURL)}}
    <a class="yxt-Results-viewAll yxt-Results-viewAllLink" href="{{ verticalURL }}"
      data-middleclick="active"
      data-eventtype="VERTICAL_VIEW_ALL"
      data-eventoptions='{{eventOptions}}'
    >
      <div class="yxt-Results-viewAllLabel">{{_config.viewMoreLabel}}</div>
      <div>
        {{> icons/builtInIcon iconName='chevron'}}
      </div>
    </a>
  {{/if}}
{{/inline}}`;
