/*
  - Original component: https://github.com/yext/answers-search-ui/blob/master/src/ui/components/cards/standardcardcomponent.js
  - Original template: https://github.com/yext/answers-search-ui/blob/master/src/ui/templates/cards/standard.hbs
*/

export default `
  <article class="c-bolt-listing-teaser c-bolt-listing-teaser--gutter-medium c-bolt-listing-teaser--layout-responsive js-bolt-listing-teaser-{{{ _config.uid}}}{{#if _config.variant}} c-bolt-listing-teaser--variant-{{ _config.variant }}{{/if}}">
    <div class="c-bolt-listing-teaser__flag">
      {{> heading}}
      {{> signifier}}
      {{> eyebrow}}
      {{> content}}
      {{> status}}
    </div>
    {{> menus}}
  </article>

  {{#*inline "heading"}}
    <div class="c-bolt-listing-teaser__flag-heading">
      {{#if _config.title}}
        {{#if _config.url}}
          <h3 class="c-bolt-headline c-bolt-headline--bold c-bolt-headline--xlarge">
            <a class="e-bolt-text-link e-bolt-text-link--reversed-underline e-bolt-text-link--expand-click-target js-yxt-StandardCard-title"
                href="{{_config.url}}"
                target="{{#if _config.target}}{{_config.target}}{{else if _config._parentOpts.target}}{{_config._parentOpts.target}}{{else}}_blank{{/if}}"
                rel="noopener noreferrer nofollow"
                data-middleclick="active"
                data-eventtype="TITLE_CLICK"
                data-eventoptions='{
                  "verticalKey": "{{verticalKey}}",
                  "entityId": "{{entityId}}",
                  "searcher": {{#if _config.isUniversal}}"UNIVERSAL"{{else}}"VERTICAL"{{/if}}
                }'
              >
              {{{_config.title}}}
            </a>
          </h3>
        {{else}}
          <h3 class="c-bolt-headline c-bolt-headline--bold c-bolt-headline--xlarge">{{{_config.title}}}</h3>
        {{/if}}
      {{/if}}
      {{!-- {% if subheadline %}
        <div class="c-bolt-listing-teaser__flag-subheadline">
          {{ subheadline }}
        </div>
      {% endif %} --}}
    </div>
  {{/inline}}

  {{#*inline "signifier"}}
    {{#if _config.videoSignifier}}
      <div class="c-bolt-listing-teaser__flag-signifier" aria-hidden="true">
        {{#if _config.videoId}}
          <bolt-trigger data-bolt-modal-target="#js-bolt-modal-{{ _config.uid }}" display="block">
            <div class="c-bolt-video-thumbnail c-bolt-video-thumbnail--border-radius-small c-bolt-video-thumbnail--aspect-ratio-16:9">
              <div class="c-bolt-video-thumbnail__content">
                {{{_config.videoSignifier}}}
              </div>
              <div class="c-bolt-video-thumbnail__play-icon" aria-hidden="true"></div>
            </div>
          </bolt-trigger>
          <bolt-modal id="js-bolt-modal-{{ _config.uid }}" width="optimal" spacing="none" theme="xlight" scroll="overall">
            <div class="e-bolt-ratio e-bolt-ratio--wide">
              <video-js
                data-video-id='{{_config.videoId}}'
                data-account='{{_config.videoAccount}}'
                data-player='{{_config.videoPlayer}}'
                data-embed='default'
                controls
                class="c-base-video c-base-video js-base-video"></video-js>
            </div>
          </bolt-modal>
        {{else}}
          {{{_config.videoSignifier}}}
        {{/if}}
      </div>
    {{/if}}
  {{/inline}}

  {{#*inline "eyebrow"}}
    {{#if _config.eyebrow}}
      <div class="c-bolt-listing-teaser__flag-eyebrow">
        <ul class="c-bolt-listing-teaser__meta">
          {{#each _config.eyebrow}}
            <li class="c-bolt-listing-teaser__meta__item">
              <p class="c-bolt-eyebrow c-bolt-eyebrow--regular">{{this}}</p>
            </li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
  {{/inline}}

  {{#*inline "content"}}
    <div class="c-bolt-listing-teaser__flag-content">
      {{> meta}}
      <div class="c-bolt-listing-teaser__flag-content__item">
        {{{details}}}
        {{#if _config.showToggle}}
          <button class="yxt-StandardCard-toggle js-yxt-StandardCard-toggle">
              <span>
                {{#if hideExcessDetails}}
                  {{_config.showMoreText}}
                  {{> icons/builtInIcon iconName='chevron' classNames='Icon--sm Icon-collapseDown'}}
                {{else}}
                  {{_config.showLessText}}
                  {{> icons/builtInIcon iconName='chevron' classNames='Icon--sm Icon-collapseUp'}}
                {{/if}}
              </span>
          </button>
        {{/if}}
      </div>
      {{> chips}}
    </div>
  {{/inline}}

  {{#*inline "meta"}}
    {{#if _config.metaItems}}
      <ul class="c-bolt-listing-teaser__meta">
        {{#each _config.metaItems}}
          {{#if this.title}}
            <li class="c-bolt-listing-teaser__meta__item">
              {{#unless this.children}}
                {{~#if this.url}}<a href="{{this.url}}" class="e-bolt-text-link e-bolt-text-link--reversed-underline">{{/if~}}
                {{~#if this.icon}}<span class="e-bolt-text-link__icon-before" aria-hidden="true">{{{this.icon}}}</span>{{/if~}}
                {{~this.title~}}
                {{~#if this.url}}</a>{{/if~}}
              {{else}}
                <bolt-popover spacing="none" trigger-event="hover">
                  <button type="button" class="e-bolt-text-link e-bolt-text-link--reversed-underline" aria-haspopup="true" aria-expanded="false">{{~this.title~}}<span class="e-bolt-text-link__icon-after" aria-hidden="true"><svg class="e-bolt-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true"><path fill="#151619" fill-rule="evenodd" d="M26.6 12.4c.6-.6.6-1.6 0-2.2s-1.6-.6-2.2 0L16 18.5l-8.3-8.4c-.6-.6-1.6-.6-2.2 0-.3.4-.5.8-.5 1.2s.2.8.5 1.1l9.4 9.4c.6.6 1.6.6 2.2 0z" clip-rule="evenodd"></path></svg></span></button>
                  <div slot="content">
                    <bolt-menu>
                      <span slot="title">Choose a version</span>
                      {{#each this.children}}
                        {{#if this.title}}
                          <bolt-menu-item url="{{this.url}}" target="_blank" rel="noopener">
                            {{~this.title~}}
                          </bolt-menu-item>
                        {{/if}}
                      {{/each}}
                    </bolt-menu>
                  </div>
                </bolt-popover>
              {{/unless}}
            </li>
          {{/if}}
        {{/each}}
      </ul>
    {{/if}}
  {{/inline}}

  {{#*inline "chips"}}
    {{#if _config.chips}}
      <div class="c-bolt-listing-teaser__flag-content__item c-bolt-listing-teaser__flag-content__item--chips">
        <bolt-chip-list size="xsmall" truncate="5" collapsible>
          <div class="c-bolt-chip-list">
            <bolt-list tag="ul" display="inline" spacing="xsmall" separator="none" align="start" valign="center">
              {{#each _config.chips}}
                {{#if this.title}}
                  <bolt-list-item role="presentation">
                      <bolt-chip {{#if this.url}}url="{{this.url}}"{{/if}} size="xsmall">
                        {{~this.title~}}
                      </bolt-chip>
                  </bolt-list-item>
                {{/if}}
              {{/each}}
            </bolt-list>
          </div>
        </bolt-chip-list>
      </div>
    {{/if}}
  {{/inline}}

  {{#*inline "status"}}
    {{#if _config.status}}
      <ul class="c-bolt-listing-teaser__flag-status">
        {{#if _config.status.solved}}
          <li class="c-bolt-listing-teaser__flag-status__item">
            <span class="c-bolt-listing-teaser__flag-status__icon c-bolt-listing-teaser__flag-status__icon--solved" aria-hidden="true">
              <svg class="e-bolt-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true"><path fill="#151619" d="M16 0C7.2 0 0 7.2 0 16s7.2 16 16 16 16-7.2 16-16S24.8 0 16 0zm7.5 12.1L14.7 21c-.6.6-1.6.6-2.2 0l-4-4c-.6-.6-.6-1.6 0-2.2.6-.6 1.6-.6 2.2 0l2.9 2.8 7.9-7.7c.3-.3.7-.5 1.1-.5s.8.2 1.1.5c.6.5.6 1.5.1 2.1-.2 0-.2 0-.3.1z"></path></svg>
            </span>
            Solved
          </li>
        {{/if}}
        {{#if _config.status.locked}}
          <li class="c-bolt-listing-teaser__flag-status__item">
            <span class="c-bolt-listing-teaser__flag-status__icon c-bolt-listing-teaser__flag-status__icon--locked" aria-hidden="true">
              <svg class="e-bolt-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true"><path fill="#151619" fill-rule="evenodd" d="M27.6 27.6c0 .8-.7 1.5-1.5 1.5H5.8c-.8 0-1.5-.7-1.5-1.5V17.5c.1-.8.7-1.5 1.5-1.5h20.4c.8 0 1.5.7 1.5 1.5v10.1zM10.2 8.7c0-3.2 2.6-5.8 5.8-5.8s5.8 2.6 5.8 5.8v4.4H10.2zm16 4.4h-1.5V8.7C24.7 3.9 20.8 0 16 0S7.3 3.9 7.3 8.7v4.4H5.8c-2.4 0-4.4 2-4.4 4.4v10.2c0 2.4 2 4.4 4.4 4.4h20.4c2.4 0 4.4-2 4.4-4.4V17.5c-.1-2.5-2-4.4-4.4-4.4z" clip-rule="evenodd"></path></svg>
            </span>
            Closed
          </li>
        {{/if}}
        {{#if _config.status.numberItems}}
          {{#each _config.status.numberItems}}
            <li class="c-bolt-listing-teaser__flag-status__item">
              <span class="c-bolt-listing-teaser__flag-status__number">{{ this.number }}</span>
              {{ this.label }}
            </li>
          {{/each}}
        {{/if}}
      </ul>
    {{/if}}
  {{/inline}}

  {{#*inline "menus"}}
    {{!-- {% if action_menu or share_menu or custom_menu %}<div class="c-bolt-listing-teaser__actions">{% endif %}
      {% if share_menu %}
        {% set _share_popover_trigger %}
          {% set _icon_share %}
            {% include '@bolt-elements-icon/icon.twig' with {
              name: 'share',
            } only %}
          {% endset %}
          {% include '@bolt-elements-button/button.twig' with {
            content: 'Share'|t,
            size: 'xsmall',
            hierarchy: 'transparent',
            icon_only: _icon_share,
            attributes: {
              type: 'button'
            }
          } only %}
        {% endset %}
        {% include '@bolt-components-popover/popover.twig' with {
          trigger: _share_popover_trigger,
          content: share_menu,
          spacing: 'none',
          boundary: '.' ~ _listing_id,
        } only %}
      {% endif %}
      {% if action_menu %}
        {% set _action_popover_trigger %}
          {% set _icon_more %}
            {% include '@bolt-elements-icon/icon.twig' with {
              name: 'more',
            } only %}
          {% endset %}
          {% include '@bolt-elements-button/button.twig' with {
            content: 'More actions'|t,
            size: 'xsmall',
            hierarchy: 'tertiary',
            icon_only: _icon_more,
            attributes: {
              type: 'button'
            }
          } only %}
        {% endset %}
        {% include '@bolt-components-popover/popover.twig' with {
          trigger: _action_popover_trigger,
          content: action_menu,
          spacing: 'none',
          boundary: '.' ~ _listing_id,
        } only %}
      {% endif %}
      {% if custom_menu %}
        {{ custom_menu }}
      {% endif %}
    {% if action_menu or share_menu or custom_menu %}</div>{% endif %} --}}
  {{/inline}}
`;
