{% include '@pega_yext/partials/layout/pega-yext-layout-vertical.html.twig' %}

{% set vars = {
  'api_key': api_key|raw,
  'experience_key': experience_key|raw,
  'business_id': business_id|raw,
  'experience_version': experience_version|raw,
  'vertical_key': 'pegacommunity_articles',
  'docs_tab_active' : true,
  'support_tab_active' : false,
  'training_tab_active' : false,
  'marketplace_tab_active' : false,
  'blogs_tab_active' : false,
  'videos_tab_active' : false,
  'knowledge_panel_tab_active' : false,
  'tab_all_url' : tab_all_url|raw,
  'tab_docs_url' : tab_docs_url|raw,
  'tab_support_url' : tab_support_url|raw,
  'tab_training_url' : tab_training_url|raw,
  'tab_marketplace_url' : tab_marketplace_url|raw,
  'tab_blogs_url' : tab_blogs_url|raw,
  'tab_videos_url' : tab_videos_url|raw,
  'tab_knowledge_panel_url' : tab_knowledge_panel_url|raw,
  }
%}
{% include '@pega_yext/partials/scripts/pega-yext-vertical-search.html.twig' with vars %}

