<div class="answers-layout">
	<div class="c-bolt-band c-bolt-band--xsmall c-bolt-band--valign-center t-bolt-dark c-bolt-band--full-bleed">
		<div class="c-bolt-band__content">
			<div class="o-bolt-wrapper o-bolt-wrapper--medium o-bolt-wrapper--full">
				<div class="searchbar-layout">
					<div class="searchbar-container"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="c-bolt-band c-bolt-band--medium c-bolt-band--valign-centerc-bolt-band--full-bleed">
		<div class="c-bolt-band__content">
			<div class="o-bolt-wrapper o-bolt-wrapper--medium o-bolt-wrapper--full">
				<div class="navigation-container"></div>
      </div>
      <div class="o-bolt-wrapper o-bolt-wrapper--xxlarge o-bolt-wrapper--full">
				<div class="filters-and-results-layout">
					<div class="facets-container"></div>
					<div class="results-layout">
						<div class="spellcheck-container"></div>
						<div class="vertical-container"></div>
						<div class="pagination-container"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
