<div class="answers-layout">
	<div class="c-bolt-band c-bolt-band--xsmall c-bolt-band--valign-center t-bolt-dark c-bolt-band--full-bleed">
		<div class="c-bolt-band__content">
			<div class="o-bolt-wrapper o-bolt-wrapper--medium o-bolt-wrapper--full">
				<div class="searchbar-layout">
					<div class="searchbar-container"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="c-bolt-band c-bolt-band--medium c-bolt-band--valign-center c-bolt-band--full-bleed">
		<div class="c-bolt-band__content">
			<div class="o-bolt-wrapper o-bolt-wrapper--medium o-bolt-wrapper--full">
				<div class="navigation-container"></div>
				<div class="results-layout">
					<div class="spellcheck-container"></div>
					<div class="universal-results-container"></div>
				</div>
			</div>
		</div>
	</div>
</div>
